input, textarea {
  border: none;
  background: none;
  font-size: 14px;
  width: 100%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
label {
  font-size: 14px;
}
/*Define a fixed label beside the input element.*/
.label-fixed,
.item.label-fixed {
  display: -moz-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.label-fixed label {
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  width: 100px;
  min-width: 100px;
  max-width: 200px;
}
/*Define a floating label above the input element.*/
.label-float {

}
.label-float label {
  margin-bottom: 0;
  -webkit-transform: translate3d(0, 27px, 0);
  transform: translate3d(0, 27px, 0);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  align-self: stretch;
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial;
  display: block;
}
.label-float label.focus {
  -webkit-transform: translate3d(0, 0, 0) scale(0.8);
  transform: translate3d(0, 0, 0) scale(0.8);
}
.item.icon {
  display: flex;
}
.item.icon.radius {
  border-radius: 6px;
}
.item.icon:not([class*="text-"]) {
  color: #9f9f9f;
}
.item input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}
/*Defines a light color for the placeholder.*/
.item input.placeholder-white::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.item.icon:before {
  position: absolute;
}
/*Align an icon from a field to the right.*/
.item.icon.icon-right:before {
  right: 20px;
}
.item.icon input {
  padding-left: 30px;
}
.item.icon.icon-right input {
  padding-left: 0;
  padding-right: 30px;
}
