/*Define a timeline component.*/
.timeline {
  font-size: 14px;
  padding: 2px;
}
.timeline .marker {
  position: relative;
}
.timeline .marker::before {
  background: rgba(0,0,0,0.3);
  content: "";
  height: 100%;
  width: 2px;
  margin: 0 auto;
  position: absolute;
  margin-top: 10px;
  z-index: 0;
  left: 18px;
}
.timeline .row:last-child .marker::before {
  display: none;
}
.timeline .icon-circle,
.timeline .icon-circle-small,
.timeline .icon-circle-big {
  margin: 0 auto;
  margin-top: 10px;
  position: absolute;
  margin-left: 7px;
}
.timeline .icon-circle i::before,
.timeline .icon-circle-small i::before,
.timeline .icon-circle-big i::before {
  margin-top: 4px;
}
.timeline .avatar-group {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.timeline .avatar-photo {
  background: #eaeaea;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #d7d2d2
}
.timeline .avatar-photo small {
  margin-top: 100px;
}
.timeline .circle-more {
  background: #eaeaea;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bdbbbb;
  border: 1px solid #d7d2d2;
  font-size: 12px;
}
