/* Show a Toast message (a little text popup) */
.toast {
  z-index: 999999;
  position: absolute;
  left: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.toast.show {
  opacity: 1;
}
.toast.toast-bottom {
  bottom: 10px;
}
.toast.toast-top {
  top: 10px;
}
.toast.toast-center {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  top: 0;
}
.toast div {
  padding: 10px;
  display: inline-block;
}
.toast .full {
  display: block;
  width: 100%;
}