.list {
  width: 100%;
  position: relative;
  border: 1px solid #ddd;
}
.list .item {
  padding: 15px;
  display: inline-block;
  border-bottom: 1px solid #ddd;
  width: 100%;
  position: relative;
  font-size: 18px;
}
.list .item.mark {
  border-right: 0;
  border-top: 0;
}
.list .item.mark.margin-button {
  border-bottom: 0;
}
.list .item.row {
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.list.without-border {
  border: 0;
}
.list.without-border .item,
.list .item.without-border {
  border: none;
}
.list .item.cover {
  padding: 0;
  margin-left: 20px;
  height:200px;
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);
}
.list .item.full {
  padding: 0;
  display: flex;
}
.list .item h1,
.list .item h2 {
  font-size: 16px;
  margin:0;
  padding: 0;
}
.list .item h1 {
  margin-top: 7px;
}
.list .item p {
  font-size: 14px;
  margin:0;
  padding: 0;
  line-height: 20px;
}
.list .item:last-child {
  border-bottom:0;
}
.list .left {
  margin-right: 10px;
}
.list .right {
  margin-right: 20px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.list .right i {
  margin-left: 5px;
}
.list .align-top {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: baseline;
  margin-top: 10px;
}
.list .avatar {
  height: 50px;
}
.avatar-badge {
  position: absolute;
  margin-left: -4px;
  margin-top: -3px;
  border-radius: 8px;
}
.list .item small,
.list .item small .icon {
  font-size: 14px;
}
.list .item .icon {
  font-size: 18px;
}
.list .left .icon {
  font-size: 25px;
  vertical-align: -webkit-baseline-middle;
}
