/*Define a new popover.*/
.popover {
  position: absolute;
  z-index: 10001;
  border-radius: 3px;
  box-shadow: 0 3px 12px 2px rgba(0,0,0,.3);
  overflow: hidden;
  display: none;
  background-color: #fff;
}
.platform-ios .popover {
  border-radius: 10px;
  box-shadow: none;
}
.popover-arrow {
  z-index: 10000;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.popover.show {
  display: block;
}
.popover .list, .popover .item {
  border-width: 0;
}
.popover .list .item h1 {
  margin: 0;
}
.popover .item {
  display: table !important;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
}
.platform-ios .popover .item {
  border-width: 1px;
}
.popover .item:first-child {
  padding-top: 15px;
}
.popover .item:last-child {
  padding-bottom: 15px;
}
.backdrop-popover {
  opacity: 0.01;
}
.platform-ios .backdrop-popover {
  opacity: 0.08;
}
.popover .item[data] {
  display: none!important;
}