.cover {
  padding: 15px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.cover .avatar {
  height: 100px;
  border-width: 4px;
  margin-bottom: 5px;
}
.cover.blend-soft-light {
  background-blend-mode: soft-light;
}
.cover.blend-darken {
  background-blend-mode: darken;
}
.cover.blend-luminosity {
  background-blend-mode: luminosity;
}
.cover.blend-multiply {
  background-blend-mode: multiply;
}
.cover.blend-screen {
  background-blend-mode: screen;
}
.cover.blend-overlay {
  background-blend-mode: overlay;
}
