button {
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -ms-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
  font-size: 14px;
  border: none;
  background-color: rgba(0,0,0,0);
  color: #444;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-height: 42px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 42px;
  cursor: pointer;
  overflow: hidden;
}
button[disabled] {
  opacity: 0.8;
}
button .icon {
  position: absolute;
  left: 10px;
}
button.circle {
  width: 42px;
  height: 42px;
  text-align: center;
  padding: 0;
  line-height: 0;
  font-size: 22px;
  z-index: 10;
}
/*Determines that the button will have an icon.*/
button.icon-text {
  padding-left: 40px;
}
button.icon-text i{
  font-size: 22px;
}
/*If the button has the class <code>icon-text</code> and <code>icon-right</code> the icon will be aligned to the right.*/
button.icon-text.icon-right {
  padding-left: 12px;
  padding-right: 40px;
  position: relative;
}
button.icon-right i {
  position: absolute;
  right: 12px;
  text-align: right;
  margin-top: 2px;
}
button[class*="border-"] {
  min-height: 40px;
  line-height: 40px;
}
/*Leave the button occupying 100% width of the screen.*/
button.full {
  width: 100%;
}
/*Leave the big button.*/
.buttons-group.big button,
button.big  {
  font-size: 22px;
  min-height: 50px;
  line-height: 50px;
}
button.circle.big {
  width: 50px;
  height: 50px;
  font-size: 28px;
}
button.big.icon-text {
  padding-left: 40px;
}
button.big.icon-text.icon-right {
  padding-left: 12px;
  padding-right: 40px;
}
button.big.icon-text i {
  font-size: 26px;
}
/*Leave the small button.*/
.buttons-group.small button,
button.small {
  font-size: 12px;
  min-height: 30px;
  line-height: 30px;
}
button.circle.small {
  width: 30px;
  height: 30px;
  font-size: 18px;
}
button.small.icon-text {
  padding-left: 30px;
}
button.small.icon-text.icon-right {
  padding-left: 12px;
  padding-right: 35px;
}
button.small.icon-text i {
  font-size: 18px;
}
/*Create groups of buttons*/
.buttons-group {
  display: inline-block;
}
.buttons-group button {
  float: left;
  margin-left: -1px;
}
.buttons-group button:first-child {
  margin-left: 0;
}
.buttons-group.full {
  display: flex;
}
.buttons-group.full button {
  flex: 1;
}
.ripple {
  position: absolute;
  background: rgba(255,255,255,.25);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}
.ripple.show {
  -webkit-animation: ripple .5s ease-out;
  animation: ripple .5s ease-out;
}
@-webkit-keyframes
  ripple { to {
   -webkit-transform: scale(1.5);
   transform: scale(1.5);
   opacity: 0;
  }
}
@keyframes
  ripple { to {
   -webkit-transform: scale(1.5);
   transform: scale(1.5);
   opacity: 0;
  }
}
