* { box-sizing: border-box; font-family: 'Roboto', sans-serif; }
.left {float: left;padding-left: 10px}
.right {float: right;padding-right: 10px;}
.align-left {text-align: left;}
.align-center {text-align: center;}
.align-right {text-align: right;}
.icon { font-size: 28px;}
img {max-width: 100%}
