* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    letter-spacing: -0.3px;
}
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:#fff;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}
