/*You need add this class in you new page.*/
.page {
  position: absolute;
  top: 100px;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  contain: strict;
  background-color: #fff;
}
.page.show {
  opacity: 1;
  top: 0;
}
.box-block {
}
